.Rproj.user
.Rhistory
.Rdata
.Rbuildignore
.Ruserdata
config.txt

work/book/_main\.Rmd

work/demo/_bookdown_files/

work/original_book/_main.Rmd

work/original_book/fit1.rda

work/original_book/_book/
