*
!.gitignore
!.Rprofile
!Statistical Rethinking with brms, ggplot2, and the tidyverse.Rproj
!*.Rmd
!README.md
!*.yml
!recoding_Statistical_Rethinking_1.0.1_PDF_version.pdf
!Pictures/*
!06_sims/*
!fit0.rds
!fit1.rda
!fit2.rds
!LICENSE
!underscore.sty
!spank.xlsx
_main.Rmd
!LaTeX/*
!public/**
